body {
    font-family: "Arial", Serif;
    background-color: #ffffff;
    overflow-x: hidden;
}

.navbar {
    background-color: #efc2c0; /*#EE82EE*/
    overflow: hidden;
    height: 63px;
}

    .navbar a {
        float: left;
        display: block;
        color: #f4f4f4;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

    .navbar ul {
        margin: 8px 0 0 0;
        list-style: none;
    }

    .navbar a:hover {
        background-color: #efc2c0;
        color: #000;
    }

.side-nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #8B008B;
    opacity: 0.9;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

    .side-nav a {
        padding: 10px 10px 10px 30px;
        text-decoration: none;
        font-size: 22px;
        color: #ccc;
        display: block;
        transition: 0.3s;
    }

        .side-nav a:hover {
            color: #fff;
        }

    .side-nav .btn-close {
        position: absolute;
        top: 0;
        right: 22px;
        font-size: 36px;
        margin-left: 50px;
    }

#main {
    transition: margin-left 0.5s;
    padding: 20px;
    overflow: hidden;

}

@media(max-width:568px) {
    .navbar-nav {
        display: none
    }
}

@media(min-width:568px) {
    /*.open-slide{display:none}*/
}

.titulo {
    width: 860px;
    height: 530px;
    font-size: 180px;
    font-family: Brush Script MT, Brush Script Std, cursive;
    margin-top:-500px;
    margin-left:251px;
    position:absolute;
    text-align: center;
    line-height:1.0;
}

.imgFundo {
    margin-top:60px;
    position: absolute;
}

.rodapéhome {
    width: 1407px;
    height: 210px;
    margin-top: 659px;
    position: absolute;
    background-color: #efc2c0;
}

.logolocal {   
    margin-left:900px;
    margin-top: 50px;
    position: absolute;
}

.logotelefone {
    margin-left: 550px;
    margin-top: 130px;
    position: absolute;
}

.logowhats {
    margin-left: 200px;
    margin-top: 50px;
    position: absolute;
}

.logoinsta {
    margin-left: 190px;
    margin-top: 130px;
    position: absolute;
}
.logoface {
    margin-left: 540px;
    margin-top: 45px;
    position: absolute;
}

.nomeinta {
    width: 46px;
    height: 46px;
    font-size: 16px;
    font-family: Arial;
    margin-left: 230px;
    margin-top: 146px;
    position: absolute;
    text-align: center;
    line-height: 1.0;
    font-weight:bold;
}

.numwhats {
    width: 136px;
    height: 46px;
    font-size: 16px;
    font-family: Arial;
    margin-left: 225px;
    margin-top: 58px;
    position: absolute;
    text-align: center;
    line-height: 1.0;
    font-weight: bold;
}

.facenome {
    width: 220px;
    height: 46px;
    font-size: 16px;
    font-family: Arial;
    margin-left: 562px;
    margin-top:59px;
    position: absolute;
    text-align: center;
    line-height: 1.0;
    font-weight: bold;
}

.numtel {
    width: 220px;
    height: 46px;
    font-size: 16px;
    font-family: Arial;
    margin-left: 526px;
    margin-top: 133px;
    position: absolute;
    text-align: center;
    line-height: 1.0;
    font-weight: bold;
}

.localizaçao {
    width: 220px;
    height: 46px;
    font-size: 16px;
    font-family: Arial;
    margin-left: 923px;
    margin-top: 52px;
    position: absolute;
    text-align: center;
    line-height: 1.0;
    font-weight: bold;
}

